body{
    padding: 0;
    margin: 0;
    background-color: #0a0b0b;
    width: 1296px;
}


/************ NAVBAR ******************/

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}


.nav-item{
    margin-left: 2%;
}

.nav-link{
    color: #15ab92;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-weight: 600;
}

.nav:hover{
    color: yellow;
}



/*****        CONTEUDO MAIN         ******/

.box{
    display: flex;
    flex-direction: row;
}


/************         CONTEUDO BLOCK RESUME       ***********************/

.block-resume{
    width: 50%;
    height: 650px;
    position: relative;
    background-color:#030404;

}

.block-resume h1{
    position: absolute;
    top: 30%;
    left: 20%;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.block-resume h2{
    position: absolute;
    top: 38%;
    left: 30%;
    color: rgb(14, 14, 233) ;
}

.block-resume p{
    position: absolute;
    top: 47%;
    left: 20%;
    width: 53%;
    color: #fff;
}



/*****        CONTEUDO IMG RESUME         ******/


.img-resume{
    width: 50%;
    height: 650px;
    position: relative;
    background-color:#030404;

}

.img-resume img{
    width: 55%;
    height: 55%;
    position: absolute;
    top: 15%;
    left: 25%;
}


/********************    SECOND-BOX   ********************/

.second-box{
    background-color:#04090b ;
    width: 1296px;
    height: 2055px;
    position: relative;
}

.h1-box{
    width: 150px;
    position: absolute;
    right: 45%;
    top: 1%;
    color:#15ab92 ;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

/***************** PROJETO G1 *********************/

#siteg1{
    height: 550px;
    width: 750px;
    position: absolute;
    top: 100px ;
}


.h1g1{
    color: #fff;
    position: absolute;
    left: 15%;
    width: 20%;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

.siteimg{
    top: 15%;
    left: 50%;
    width: 50% ;
    display: inline;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sitefullimg{
    display: inline;
    width: 40%;
    position: absolute;
    left: 5%;
    top:15%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.h2g1{
    position: absolute;
    left: 50%;
    width: 60%;
    top: 60%;
    color: #fff;
    font-size:larger;
}

.iconsg1{
    position: absolute;
    left: 75%;
    top: 60%;
    width: 150px;
}

.pg1{
    position: absolute;
    left: 50%;
    top: 70%;
    width: 350px;
    color: #ffff;
}


.btn-outline-primary{
    position: absolute;
    left: 50%;
    top: 87%;
    width: 80px;
}

.btn-primary{
    position: absolute;
    left: 65%;
    top: 87%;
    width: 80px;
}


/***************** PROJETO CLIMA *********************/

#siteclima{
    height: 570px;
    width: 900px;
    left: 23%;
    position: absolute;
    top: 770px;
}

.h1prev{
    color: #fff;
    position: absolute;
    top: 0;
    left: 15%;
    width: 300px;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
}


.siteimg2{
    top: 15%;
    left: 50%;
    width: 49% ;
    display: inline;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sitefullimg2{
    display: inline;
    width: 49%;
    position: absolute;
    left: 0%;
    top:15%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pg2{
    position: absolute;
    left: 50%;
    top: 66%;
    width: 350px;
    color: #ffff;
}

/***************** PROJETO CADASTRO CLIENTES *********************/

#cadastroclientes{
    height: 570px;
    width: 800px;
    left: 0;
    position: absolute;
    top: 1400px;
}

.h1cadastra{
    color: #fff;
    position: absolute;
    top: 0;
    left: 10%;
    width: 500px;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
}


.h2prog{
    position: absolute;
    left: 10%;
    width: 60%;
    top: 73%;
    color: #fff;
    font-size:larger;
}



.pg3{
    position: absolute;
    left: 10%;
    top: 80%;
    width: 350px;
    color: #ffff;
}

.against{
    position: absolute;
    left: 60%;
    top: 80%;
}

.btn-3{
    margin-left: 120px;
}


.iconsg3{
    position: absolute;
    left: 33%;
    top: 73%;
    width: 150px;
}

.programimg3{
    top: 15%;
    left: 10%;
    width: 40% ;
    display: inline;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.programfull3{
    display: inline;
    width: 41%;
    position: absolute;
    left: 53%;
    top:15%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




